body{
margin:0;
background:black;
color:white;
font-family:Fredoka;
text-align:center;
}

header{
background:#ff7a00;
padding:20px;
font-family:Bangers;
font-size:30px;
}

.hero{
padding:100px 20px;
}

.logo{
width:220px;
border-radius:50%;
}

h1{
font-family:Orbitron;
font-size:60px;
color:#ff7a00;
}

.buttons a{

display:inline-block;

background:#ff7a00;

color:black;

padding:14px 24px;

margin:10px;

border-radius:12px;

font-weight:bold;

text-decoration:none;

}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.box{

background:#ff7a00;

color:black;

margin:10px;

padding:25px;

border-radius:12px;

width:180px;

font-weight:bold;

}

section{
padding:80px 20px;
}

input{
padding:10px;
border-radius:10px;
border:none;
width:300px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#ff7a00;
color:black;
}

footer{
padding:40px;
opacity:0.7;
}
